.nav-item {
  text-transform: uppercase;
  padding: 0.5rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
}

.nav-link {
  color: #fff;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.nav-link:hover {
  color: #000;
}

.navbar-brand {
  padding-left: 1rem;
}

.navbar-toggler {
  border-color: #fff;
}