.cart-logo {
  display: flex;
  height: 35px;  
}

.cart-widget {
  display: flex;
  height: 35px;  
}

.units {
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}