.cart-item {
    display:flex; 
    flex-direction: column; 
    align-items: center; 
    border: 2px solid black; 
    margin:5px; 
    padding:5px; 
    background-color:#a6a6a6;
    color:#6b3923; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
